.news-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 14px;

  &__item {
    margin: 0;
    padding: 1px;
    background-color: #282828;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: #ccc;
      text-decoration: none;
    }
    a:hover {
      color: #fff;
    }
    &:nth-child(2n) {
      background-color: #323232;
    }
    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  &__item_time {
    font-size: 12px;
    color: #999;
    margin-inline: 0.5rem;
  }
}
